/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }
}
